#button2{
    margin-bottom: 15px;
    background-color: #daa520;
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border: none; /* Remove a borda padrão do botão */
}

#button2:hover{
    background-color: #5bfe45;
    transform: scale(1.10);
}